.header {
  background-color: #1a73e7;
  height: 50px !important;

  h2 {
    align-content: center;
    margin: auto 0;
    padding-top: 10px;
    padding-left: 20px;
  }
}

.footer {
  background-color: #1a73e7;
  height: 30px;
  text-align: center;
}

