.header {
  background-color: #1a73e7;
  height: 50px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  
  h2 {
    margin-left: 10px;
  }

  h3 {
    color: black;
    margin-right: 10px;

  }
}

.footer {
  background-color: #1a73e7;
  height: 30px;
  align-content: center;
  text-align: center;
}

