.add-patient-form {
    display: grid;
    grid-template-columns: 1fr 1fr;


}

.patient-btn {
        margin-top: 10px;
        text-align: center; 
        
        button {
        height: 30px;
        width: 150px;
        border-radius: 2%;
        border: 2px solid #1a73e7;
        background-color: #1a73e7;
        cursor: pointer;   
                
        }

    }

.form-title {
        text-align: center;
        margin-bottom: 25px;
}

.close-modal {
    float: right;
    cursor: pointer;
    
}

.integer-inputs {
    display: flex;
    width: 280px;
    input {
        width: 60px;
    }
    
}